<div class="card border-danger">
  <div class="card-body text-center">
    <h1 class="text-danger">500 Error</h1>
    <h3 class="text-danger">Opps! Internal Server Error</h3>
    <h5>Sorry, there is a problem with the resource you are looking for and, it can't be displayed</h5>
    <%= link_to 'Go Home', root_path, class: 'btn btn-secondary mt-3' %>
  </div>
</div>

